---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import PopularCommunities from '../components/PopularCommunities.astro';
import Feed from '../components/Feed.astro';
---

<Layout title="Welcome to Astro.">
	<div class="page">
		<nav>
			<Nav />
		</nav>
		<main>
			<div class="carousel">
				<Carousel />
			</div>
			<div class="feed">
				<Feed />
			</div>
			<div class="popular-communities">
				<PopularCommunities />
			</div>
		</main>
	</div>
	<header> 
		<Header />	
	</header>
</Layout>

<style>
	.page {
		display: grid;
		grid-template-areas:
			'nav main';
		grid-template-columns: 200px 1fr;
		
		@media (max-width: 1024px) {
			display: block;
		}
	}
	header {
		grid-area: header;
	}
	nav {
		grid-area: nav;

		@media (max-width: 1024px) {
			display: none;
		}
	}
	main {
		padding-top: 52px;
		grid-area: main;
		display: grid;
		grid-template-areas:
			'carousel carousel'
			'feed popular-communities';
		grid-template-columns: 1fr 260px;
		grid-template-rows: min-content 1fr;
		grid-gap: 1rem;
		margin: 1rem;

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

    @media screen and (max-width: 512px) {
			padding-top: 98px;
		}
	}
	.carousel {
		grid-area: carousel;
	}
	.feed {
		grid-area: feed;
	}
	.popular-communities {
		grid-area: popular-communities;

		@media (max-width: 768px) {
			display: none;
		}
	}
</style>
