---
interface Props {
	title: string;
	subtitle: string;
	image: string;
	link: string;
}

const { title, subtitle, image, link } = Astro.props;
---

<li
	style={{
		background: `url(${image})`,
		backgroundSize: 'cover',
		backgroundPosition: 'center',
		backgroundRepeat: 'no-repeat',
	}}
>
	<a
		href={link}
	>
		<h2>{title}</h2>
		<h3>{subtitle}</h3>
	</a>
</li>

<style>
	li {
		display: flex;
		width: 280px;
		height: 210px;
		overflow: hidden;
		border-radius: 1rem;
		transition: 0.5s;
	}

	li:hover {
		transform: scale(0.95);
	}

	a {
		flex: 1;
		background-color: rgba(0, 0, 0, 0.25);
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0.75rem;
	}

	h2 {
		margin-bottom: 0.5rem;
		max-width: 220px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	h3 {
		font-size: 0.9rem;
		font-weight: 500;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
						line-clamp: 2; 
		-webkit-box-orient: vertical;
	}
</style>
