---
import FeedItem from "./FeedItem.astro";
---

<div class="feed">
  <ul>
    <FeedItem
      title="What is the most ridiculous/amusing/annoying reason you have been dumped for?"
      community="r/AskUK"
      communityLogo="https://picsum.photos/id/10/32"
      postedAt="6 hr. ago"
    >
      <p>
        I was in a relationship for about 18 months, when my (now ex, obviously)
        girlfriend confessed to having an affair, told me she was in love and
        subsequently dumped me. One of her main reasons was (and I quote
        verbatim here) “You know all my exes are tall, I can&apos;t carry on
        because you&apos;re under six foot”😲
      </p>
      <p>
        It&apos;s not like I lied, stood on a box when we met, or wore platform
        shoes for the whole of the relationship. I can understand put on weight,
        but not tall enough? FFS! I can understand cheating and deciding to move
        on, but that must have loomed large over her “minus points” criteria 🤷🏻‍♂️
      </p>
      <p>
        Also, a mate of mine ditched his stunningly beautiful new girlfriend
        “because her pubes were too long” 🤡
      </p>
      <p>What are your best/worst experiences?</p>
    </FeedItem>
    <FeedItem
      title="Which movie completely changed your perspective after watching it?"
      community="r/Movies"
      communityLogo="https://picsum.photos/id/20/32"
      postedAt="2 hr. ago"
    >
      <p>
        Watched "Into the Wild" on a whim, not knowing much about it. By the
        end, I was questioning the whole societal construct of success and what
        it means to truly live. Ended up taking a month off to travel through
        national parks. Changed my life and I ended up starting a non-profit
        focused on environmental education.
      </p>
      <p>
        Anyone else had a movie hit them like a freight train and just alter the
        trajectory of their life?
      </p>
    </FeedItem>
    <FeedItem
      title="What's a small act of kindness you were once shown that you'll never forget?"
      community="r/CasualConversation"
      communityLogo="https://picsum.photos/id/30/32"
      postedAt="8 hr. ago"
    >
      <p>
        I was struggling with groceries and baby gear one day after shopping,
        trying to fit everything into the car while keeping an eye on my
        toddler. A stranger came over, helped me pack the car, and even gave my
        toddler a small toy to cheer him up. Didn&apos;t accept anything in
        return, just smiled and said, “We&apos;ve all been there.”
      </p>
      <p>
        It was a small gesture but at that moment, it meant everything. Restored
        my faith in the kindness of strangers. Do you guys have any similar
        heartwarming encounters?
      </p>
    </FeedItem>
    <FeedItem
      title="Ever had a job interview go hilariously wrong? Share your stories!"
      community="r/jobs"
      communityLogo="https://picsum.photos/id/40/32"
      postedAt="3 hr. ago"
    >
      <p>
        I walked into what I thought was a job interview for a marketing
        position. Turned out I had mixed up the dates and crashed a board
        meeting. They were so amused they actually let me pitch myself for the
        job right there. Didn&apos;t get it, but they referred me to another
        company. Sometimes, the wrong place at the right time works out!
      </p>
      <p>
        Anyone else turned an interview fail into a win (or at least a good
        story)?
      </p>
    </FeedItem>
    <FeedItem
      title="What hobby did you pick up that was totally out of character for you?"
      community="r/Hobbies"
      communityLogo="https://picsum.photos/id/50/32"
      postedAt="1 day ago"
    >
      <p>
        Always been a bit of a couch potato, but on a friend's dare, I tried
        rock climbing. To everyone&apos;s shock (mine most of all), I got
        hooked. Two years later, I&apos;m climbing mountains and have never felt
        healthier or happier. It&apos;s strange how a simple dare can lead you
        to discover a hidden passion.
      </p>
      <p>
        Has anyone else stumbled upon a hobby that&apos;s now an integral part
        of your life?
      </p>
    </FeedItem>
    <FeedItem
      title="What's the weirdest thing you believed as a child that you laugh about now?"
      community="r/AskReddit"
      communityLogo="https://picsum.photos/id/60/32"
      postedAt="5 hr. ago"
    >
      <p>
        I used to think that actors who died in movies were actually people who
        wanted to die in real life and had volunteered for the role. I remember
        being horrified and yet morbidly impressed by their dedication to the
        craft.
      </p>
      <p>
        Now I laugh about it, but at the time it seemed so plausible!
        What&apos;s a weird belief you had as a kid?
      </p>
    </FeedItem>
    <FeedItem
      title="Parents of Reddit, what's the most embarrassing thing your child has ever blurted out in public?"
      community="r/Parenting"
      communityLogo="https://picsum.photos/id/70/32"
      postedAt="10 hr. ago"
    >
      <p>
        My four-year-old once shouted, “Look, that man has a baby in his tummy
        too!” at a rather portly gentleman waiting in line at the grocery store.
        Mortified, I had to explain that not all round bellies have babies
        inside. The man just chuckled and gave my son a high five.
      </p>
      <p>
        It was funny and embarrassing in equal measure. I&apos;m sure other
        parents have similar tales?
      </p>
    </FeedItem>
  </ul>
</div>

<style>
  ul {
    margin: unset;
    padding: unset;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
